
.my-menu {
    margin-top: 30px;
    background-color: blue;
    padding-left:30px;
    font-size: 200%;
}

.my-menu .text:hover{
    background-color: blue;
    opacity: 1;
    clear: both;
    margin-left: -10px;
    cursor: pointer;
}

.my-menu #text{
    background-color: blue;
    opacity: 1;
    clear: both;
    margin-left: -10px;
    cursor: pointer;
}

.my-menu .text{
    opacity: 0.7;
    color: white;
    padding-top: 40px;
    padding-left: 10px;
}

.my-menu .text .span_one{
    padding-left: 10px;
    font-size: 75%;
}
.my-menu .text .span_img {
    float: right;
    padding-right: 50px;
}
